<div class="form-group">
    <label class="col-lg-2 control-label">权限名</label>
    <div class="col-lg-3">
        <input type="text" class="form-control" name="permission_name"  title=""/>
    </div>
</div><!--form control-->

<div class="form-group">
    <label class="col-lg-2 control-label">权限slug</label>
    <div class="col-lg-3">
        <input type="text" class="form-control" name="permission_slug"  title=""/>
    </div>
</div><!--form control-->

<div class="form-group">
    <label class="col-lg-2 control-label">权限描述</label>
    <div class="col-lg-3">
        <input type="text" class="form-control" name="description"  title=""/>
    </div>
</div><!--form control-->

<div class="form-group">
    <label class="col-lg-2 control-label">关联角色</label>
<div class="col-lg-3">
   {{/* @if (count($roles) > 0)
    @foreach($roles as $role)
        <input type="checkbox" {{ in_array($role->id, $permissionRoles) ? 'checked' : ''}} value="{{$role->id}}" name="permission_roles[]" id="role-{{$role->id}}" />
        <label for="role-{{$role->id}}">{!! $role->role_name !!}</label>
    <br/>
    @endforeach
    @else
    No Roles to set
    @endif*/}}
</div>
</div><!--form control-->